$hero-font-color: #fff;
$hero-text-shadow: 0 2px 4px rgba(0, 0, 0, .50);

$mobile-hamburger-color: #fff;

$primary-button-color: $jokaero-orange;
$primary-button-text-color: #fff;
$default-button-font: "open-sans", sans-serif;

$body-font-family: "open-sans", sans-serif;

$primary-button-hover-color: darken($primary-button-color, 5%);
